<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-brand">Medmento</div>
  </div>
</div>

<div class="container panel">
  <div class="row">
    <div class="col-sm-2">
      <h2><%= link_to 'Back', demos_path %></h2>
    </div>
    <div class="col-sm-6">
      <h2>Demo: <%= @demo.title %></h2>
    </div>
    <div class="col-sm-2">
      <h2>
        <%= link_to 'Edit', edit_demo_path(@demo) %>
      </h2>
    </div>
    <div class="col-sm-2">
      <h2>
        <%= link_to 'Destroy', demo_path(@demo),
        method: :delete,
        data: { confirm: 'Permanently delete this Demo?' } %>
      </h2>
    </div>
  </div>
</div>

<div class="container panel">
  <div class="row">
    <div class="col-sm-12 attendant-form">
      <%= form_for [@demo, @demo.attendants.build] do |f| %>
      <div class="col-sm-2">
        <p>
          <%= f.label :first_name %><br>
          <%= f.text_field :first_name, :required => true %>
        </p>
      </div>
      <div class="col-sm-2">
        <p>
         <%= f.label :last_name %><br>
         <%= f.text_field  :last_name, :required => true %>
       </p>
     </div>
     <div class="col-sm-3">
       <p>
         <%= f.label :email %><br>
         <%= f.text_field :email, :placeholder => "Enter your email", :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}', :size=>"32"%>
       </p>
     </div>
     <div class="col-sm-3">
       <p>
         <%= f.label :npi %>
         <br>
         <%= f.text_field :npi %><p id="npi-confrim">Invalid NPI Number</p>
       </p>
     </div>
      <div class="col-sm-2">
       <p>
        <%= f.submit %>
       </p>
     </div>
  <% end %>
</div>
</div>
</div>


<div class="container panel">
  <div class="row">
    <div class="col-sm-3">
      <form id="npi-name-lookup">
        First name: <input type="text" name="firstname"><br>
        Last name: <input type="text" name="lastname"><br>
        <input type="submit" value="Search">
      </form>
    </div>
    <div class="col-sm-9">
       <table class="table" id="search-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Address</th>
              <th>City</th>
              <th>State</th>
              <th>NPI</th>
            </tr>
          </thead>
        </table>
    </div>
  </div>
</div>

<div class="container table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Number</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Attendant Email</th>
        <th>Attendant NPI Number</th>
      </tr>
    </thead>
    <% @attendants.each_with_index do |attendant, index| %>
    <tr>
      <th scope="row"><%= index + 1 %></th>
      <td><%= attendant.first_name %></td>
      <td><%= attendant.last_name %></td>
      <td><%= attendant.email %></td>
      <td><%= attendant.npi %></td>
    </tr>
    <% end %>
  </table>
</div>




