<div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-brand">Medmento</div>
  </div>
</div>

<div class="container panel">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="center karla">Demo: <%= @demo.title %></h1>
    </div>
  </div>
</div>
<!--
<div class="container panel">
  <div class="row">
    <div class="col-sm-2">
      <h2><%= link_to 'Back', demos_path %></h2>
    </div>
    <div class="col-sm-6">
      <h2>Demo: <%= @demo.title %></h2>
    </div>
    <div class="col-sm-2">
      <h2>
        <%= link_to 'Edit', edit_demo_path(@demo) %>
      </h2>
    </div>
    <div class="col-sm-2">
      <h2>
        <%= link_to 'Destroy', demo_path(@demo),
        method: :delete,
        data: { confirm: 'Permanently delete this Demo?' } %>
      </h2>
    </div>
  </div>
</div> -->

<div class="container panel sign-in-form">
  <div class="row">
    <div class="attendant-form">
      <h3 id="sign-in-header" class="libre">Please Sign in Below</h3>
      <%= form_for [@demo, @demo.attendants.build] do |f| %>

      <div class="col-sm-2">
        <p>
          <%= f.label :first_name %><br>
          <%= f.text_field :first_name, :required => true,  :class=> "form-control" %>
        </p>
      </div>
      <div class="col-sm-2">
        <p>
         <%= f.label :last_name %><br>
         <%= f.text_field  :last_name, :required => true, :class=> "form-control" %>
       </p>
     </div>
     <div class="col-sm-3">
       <p>
         <%= f.label :email %><br>
         <%= f.text_field :email, :placeholder => "Enter your email", :required => true, :pattern => '[^@]+@[^@]+\.[a-zA-Z]{2,6}', :size=>"32", :class=> "form-control" %>
       </p>
     </div>
     <div class="col-sm-3">
       <p>
         <%= f.label :npi, "Enter A Valid NPI Number", :id => "npi-confrim" %>
         <br>
         <%= f.text_field :npi, :class=> "form-control" %><p><a id='npi-open-search' href="#">Forgot your NPI number?</a></p>
       </p>
     </div>
      <div class="col-sm-2">
       <p>
        <%= f.submit :class => "btn btn-default create-attendant-btn" %>
       </p>
     </div>
  <% end %>
</div>
</div>
</div>

<div class="container panel npi-search-bar">
  <div class="row">
    <div class="col-sm-12">
      <form id="npi-name-lookup">
        <h5>Seach for your NPI number by First and Last</h5>
        First Name: <input type="text" name="firstname">
        Last Name: <input type="text" name="lastname">
        <input type="submit" value="Search" class="btn-success">
      </form>
    </div>
  </div>
  <div class="row">
     <div class="col-sm-12">
       <table class="table" id="search-table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Address</th>
              <th>City</th>
              <th>State</th>
              <th>NPI</th>
              <th>Select</th>
            </tr>
          </thead>
        </table>
    </div>
  </div>
</div>


<div class="container table-responsive">
  <h2 class="libre">Signed In Attendants</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Number</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Attendant Email</th>
        <th>Attendant NPI Number</th>
      </tr>
    </thead>
    <% @attendants.each_with_index do |attendant, index| %>
    <tr>
      <th scope="row"><%= index + 1 %></th>
      <td><%= attendant.first_name %></td>
      <td><%= attendant.last_name %></td>
      <td><%= attendant.email %></td>
      <td><%= attendant.npi %></td>
    </tr>
    <% end %>
  </table>
</div>




